/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --color-white: #fff;
  --color-gray: #444444;
  --color-primary: #37517e;
  --color-primary-alt: #37517e;
  --color-primary: #303030;
  --color-primary-light: #0975a7;
  --color-secondary: #f76d6d;
  --color-box-shadow: #000;
  --color-green: #2e8b57;
  --color-section-bg: #b4b7cf;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "Jost", "Poppins",
    sans-serif;
  color: var(--color-gray);
}

/* Cookie Consent */
#cookiePopup {
  font-family: inherit;
  background: var(--color-white);
  width: 25%;
  position: fixed;
  bottom: 20px;
  z-index: 99999;
  border: 2px solid var(--color-primary-light);
}

@media (max-width: 768px) {
  #cookiePopup {
    width: 100%;
  }
}

#cookiePopup h4 {
  color: var(--color-primary-light);
  font-weight: 900;
  text-align: center;
  border-bottom: 3px solid var(--color-secondary);
  text-transform: uppercase;
}
#cookiePopup p {
  text-align: left;
  font-size: 15px;
  color: var(--color-gray);
}
#cookiePopup a {
  color: var(--color-primary-light);
  text-decoration: underline;
}

#cookiePopup a:hover {
  transform: scale(2);
  transition: 0.5s ease-in-out;
  text-decoration: none;
  border-bottom: 2px solid var(--color-secondary);
}

#cookiePopup button {
  width: 100%;
  font-weight: 600;
}

#cookiePopup button:hover {
  background-color: var(--color-secondary);
}
/**
** CUSTOM SCROLLBAR
***/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-light);
}

a {
  color: var(--color-primary-light);
  color: #242222d2;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--color-primary);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--color-primary);
  border-top-color: var(--color-secondary);
  border-bottom-color: var(--color-primary-light);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--color-primary-light);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: var(--color-white);
  line-height: 0;
}

.back-to-top:hover {
  background: var(--color-secondary);
  color: var(--color-white);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* Section Waves Start */
.white-waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.white-waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.white-waves .shape-fill {
  fill: var(--color-white);
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .white-waves svg {
    width: calc(100% + 1.3px);
    height: 98px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .white-waves svg {
    width: calc(100% + 1.3px);
    height: 56px;
  }
}
/* Silver Colors */
.silver-waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.silver-waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.silver-waves .shape-fill {
  fill: var(--color-section-bg);
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .silver-waves svg {
    width: calc(100% + 1.3px);
    height: 98px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .silver-waves svg {
    width: calc(100% + 1.3px);
    height: 56px;
  }
}
/* Section Wave End */

/* Custom Box  Start */
.box {
  padding: 40px 20px;
  height: 100%;
  transition: all ease-in-out 0.4s;
  background: var(--color-white);
  border: 3px solid var(--color-primary-light);
  border-radius: 50px;
}

.box:hover {
  transform: translateY(-10px) scale(1);
  border: 3px solid var(--color-primary-light);
  background: var(--color-primary);
  transition: all ease-in-out 0.5s;
  color: var(--color-white);
}

@media (max-width: 992px) {
  .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}

/* Custom Box End */

/* Claymorphic Design */

.clay-card {
  --clay-background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary),
    var(--color-primary)
  );
  --clay-border-radius: 48px;
  color: #f1f1f1;
  padding: 48px;
}

.clay-card--white {
  --clay-background: linear-gradient(
    to right,
    var(--color-white),
    var(--color-white),
    var(--color-white)
  );
  color: var(--color-primary);
}

.clay-card--orange {
  --clay-background: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-secondary),
    var(--color-secondary)
  );
  color: var(--color-white);
}

.clay-card--borderless {
  --clay-background: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary),
    var(--color-primary)
  );
  --clay-border-radius: 0;
  padding: 0;
}

.clay-section {
  --clay-background: linear-gradient(
    to right,
    var(--color-white),
    var(--color-white),
    var(--color-white)
  );
}

/* Custom Button Starts */
.custom-btn {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  z-index: 9999;
  margin: 10px 0 0 0;
  color: var(--color-white);
  background: var(--color-primary-light);
  border: 2px solid var(--color-white);
}

@media (max-width: 767px) {
  .custom-btn {
    width: 100%;
    text-align: center;
  }
}
.custom-btn:hover {
  background: var(--color-primary);
  border: 2px solid var(--color-primary-light);
  color: var(--color-white);
}
/* Custom_Btn Ends */

/* Contact Form Start */
.email-form {
  width: 100%;
  border: 2px solid var(--color-primary-light);
  padding: 30px;
  background: var(--color-white);
  border-radius: 50px;
}

.email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
  border-radius: 50px;
  border: 3px solid var(--color-white);
}

.email-form .error-message {
  display: none;
  color: red;
  background: var(--color-white);
  border: 3px solid var(--color-primary-light);
  text-align: left;
  padding: 15px;
  font-weight: 600;
  border-radius: 50px;
}

.email-form .error-message br + br {
  margin-top: 25px;
}

.email-form .sent-message {
  display: none;
  color: var(--color-green);
  background: var(--color-white);
  border: 3px solid var(--color-primary-light);
  text-align: center;
  padding: 15px;
  font-weight: 600;
  border-radius: 50px;
}

.email-form .loading {
  display: none;
  background: var(--color-white);
  text-align: center;
  padding: 15px;
}

.email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--color-green);
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.email-form .form-group {
  margin-bottom: 20px;
  padding-bottom: 8px;
}

.email-form label {
  padding-bottom: 8px;
  color: var(--color-primary-light);
}

.email-form input,
.email-form textarea,
.email-form select,
.email-form select > option{
  box-shadow: none;
  font-size: 14px;
  border-radius: 10px;
  border-bottom: 2px solid var(--color-primary-light);
}

.email-form input:focus,
.email-form select:focus,
.email-form textarea:focus,
.email-form select > option:focus,
.email-form select > option:hover {
  border-color: var(--color-primary-light);
}

.email-form input {
  height: 44px;
}

.email-form textarea {
  padding: 10px 12px;
}

.email-form button[type="submit"] {
  background: var(--color-primary-light);
  border: 0;
  padding: 12px 34px;
  color: var(--color-white);
  transition: 0.4s;
  border-radius: 50px;
}

.email-form select > option{
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .email-form button[type="submit"] {
    width: 100%;
  }
  .email-form select > option{
    width: 100%;
  }
}

.email-form button[type="submit"]:hover {
  background: var(--color-primary);
  border: 2px solid var(--color-primary-light);
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Contact Form End */

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 99999;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: var(--color-primary);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: var(--color-white);
}

#header .logo img {
  max-height: 100px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  font-family: inherit;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-white);
  white-space: nowrap;
  transition: 0.3s;
  text-transform: uppercase;
  padding: 5px 20px;
}

.navbar a i,
.navbar a:focus i {
  font-size: 1rem;
  font-weight: 500;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--color-primary-light);
  border-bottom: 2px solid var(--color-white);
}


.navbar .career {
  padding: 8px 45px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50px;
  color: var(--color-white);
  background: var(--color-secondary);
  font-size: 14px;
  font-weight: 700;
}

.navbar .career:hover {
  color: var(--color-secondary);
  background: var(--color-white);
  border: 2px solid var(--color-secondary);
  cursor: pointer;

}

.navbar .career:focus {
  padding: 8px 45px;
  margin-left: 30px;
  color: var(--color-white);
  background: var(--color-secondary);
}


/* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: var(--color-white);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}


.mobile-nav-toggle.bi-x {
  color: var(--color-white);
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--color-primary);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: var(--color-white);
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--color-primary);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--color-primary-light);
}


.navbar-mobile .getstarted {
  margin: 15px;
  color: var(--color-white);
  text-align: center;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: var(--color-white);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

@media (max-width: 767px) {
  .navbar-mobile .getstarted {
    margin: 15px;
    color: var(--color-white);
    text-align: center;
  }

}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    var(--color-primary),
    var(--color-primary),
    var(--color-primary)
  );
}

/* Animated Background */
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

/* Bouncing Balls Animation  Start*/
.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  /* background: #303030; */
  overflow: hidden;
  z-index: 100;
}

.background span {
  width: 6vmin;
  height: 6vmin;
  border-radius: 6vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: var(--color-primary-light);
  top: 73%;
  left: 81%;
  animation-duration: 39s;
  animation-delay: -2s;
  transform-origin: -9vw 16vh;
  box-shadow: -12vmin 0 1.934149259104884vmin currentColor;
}
.background span:nth-child(1) {
  color: var(--color-primary-light);
  top: 60%;
  left: 24%;
  animation-duration: 42s;
  animation-delay: -31s;
  transform-origin: 19vw 0vh;
  box-shadow: -12vmin 0 2.2805471894665486vmin currentColor;
}
.background span:nth-child(2) {
  color: var(--color-primary-light);
  top: 85%;
  left: 95%;
  animation-duration: 9s;
  animation-delay: -16s;
  transform-origin: 17vw -20vh;
  box-shadow: 12vmin 0 1.6088787147376533vmin currentColor;
}

.background span:nth-child(3) {
  color: var(--color-white);
  top: 16%;
  left: 27%;
  animation-duration: 16s;
  animation-delay: -11s;
  transform-origin: -12vw 6vh;
  box-shadow: -12vmin 0 2.137401996456719vmin currentColor;
}
.background span:nth-child(4) {
  color: var(--color-white);
  top: 54%;
  left: 92%;
  animation-duration: 47s;
  animation-delay: -29s;
  transform-origin: -19vw -11vh;
  box-shadow: -12vmin 0 1.9756034793125747vmin currentColor;
}
/* Bouncing Balls Animation  End*/

/* Claymorphism */
.clay-card--hero {
  --clay-background: linear-gradient(
    180deg,
    var(--color-secondary),
    var(--color-secondary),
    var(--color-secondary)
  );
}

@media (max-width: 389px) {
  .clay-card--hero {
    --clay-border-radius: none;
    --clay-background: linear-gradient(
      180deg,
      var(--color-primary),
      var(--color-primary),
      var(--color-primary)
    );
  }
}

#hero .container {
  padding-top: 35px;
  z-index: 9999;
}

@media (max-width: 740px) {
  #hero .container {
    padding-top: 100px;
  }
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: var(--color-white);
  text-shadow: 0 0.075em rgb(0 0 0 /25%);
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
  border-bottom: 2px solid var(--color-primary-light);
}

#hero .btn-get-started {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: var(--color-white);
  background: var(--color-primary-light);
  border: 2px solid var(--color-white);
}

#hero .btn-get-started:hover {
  background: var(--color-primary);
  border: 2px solid var(--color-primary-light);
}

#hero .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: var(--color-white);
  line-height: 1;
}

#hero .btn-watch-video i {
  line-height: 0;
  color: var(--color-white);
  font-size: 45px;
  transition: 0.3s;
  margin-right: 8px;
  border: 4px solid var(--color-primary-light);
  border-radius: 50%;
  animation: pulse-border 1s linear infinite;
}

@keyframes pulse-border {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

#hero .btn-watch-video:hover i {
  color: var(--color-primary-light);
}

@media (max-width: 767px) {
  .two-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn-get-started {
    width: 100%;
  }

  .btn-watch-video {
    width: 100%;
  }
}

/* For Animating images for hero, skills, about us,etc. */
.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.create {
  color: var(--color-primary-light);
  font-family: inherit;
  letter-spacing: 1rem;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}

/* Water Waves Start*/
.water-effect {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 130%;
  animation: stretch 5s ease-in-out infinite;
}

.water-effect .waves {
  height: 100px;
  background-color: var(--color-primary-light);
  animation: waves 2s ease-in-out infinite;
}

.water-effect .water {
  height: calc(100% - 100px);
  margin-top: -1px;
  background-color: var(--color-primary-light);
}

@keyframes waves {
  0%,
  100% {
    clip-path: polygon(
      0 8%,
      7% 6%,
      14% 5%,
      21% 5%,
      28% 6%,
      34% 8%,
      40% 12%,
      46% 17%,
      50% 20%,
      54% 23%,
      60% 25%,
      66% 26%,
      70% 26%,
      77% 25%,
      83% 23%,
      89% 21%,
      95% 19%,
      100% 17%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0 15%,
      9% 21%,
      14% 23%,
      18% 25%,
      21% 26%,
      30% 28%,
      32% 28%,
      40% 27%,
      46% 26%,
      52% 23%,
      57% 19%,
      62% 15%,
      68% 11%,
      73% 8%,
      79% 6%,
      86% 5%,
      93% 5%,
      100% 6%,
      100% 100%,
      0% 100%
    );
  }
}

@keyframes stretch {
  0% {
    bottom: -130%;
  }

  100% {
    bottom: -1px;
  }
}
/* Water waves End */

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }
  /* #hero .animated {
    -webkit-animation: none;
    animation: none;
  } */
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .water-effect {
    display: none;
  }
}

@media (max-width: 767px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }

  .create {
    color: var(--color-secondary);
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: var(--color-section-bg);
  border: none;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--color-white);
  border-radius: 50px;
  width: 400px;
  background: var(--color-primary-light);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-title h2:hover {
  background-color: var(--color-primary);
  transition: all ease-in-out 0.7s;
  color: var(--color-primary-light);
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 160px;
  height: 5px;
  background: var(--color-white);
  bottom: 0px;
  left: calc(50% - 80px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 15px;
  background: var(--color-white);
  bottom: 0;
  left: calc(50% - 27px);
}

@media (max-width: 768px) {
  .section-title h2 {
    width: 100%;
  }
}

.section-title h4 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--color-primary-light);
}

.section-title h4::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--color-primary-light);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 12px 0;
  text-align: center;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  border: 1px solid var(--color-white);
  filter: grayscale(120);
}

.clients img:hover {
  filter: none;
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
#about {
  position: relative;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

/* Claymorphism */
.clay-card--about {
  --clay-background: var(var(--color-primary));
  color: #f1f1f1;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li + li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: var(--color-primary-light);
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
#why-us {
  position: relative;
}

.why-us .content {
  padding: 40px 100px 0 100px;
}

.why-us .content h3 {
  font-weight: 600;
  font-size: 35px;
  color: var(--color-primary-light);
}

.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.why-us .content p {
  font-size: 1rem;
  color: var(--color-primary);
}

.why-us .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.why-us .accordion-list {
  padding: 0 100px 60px 100px;
}

.why-us .accordion-list ul {
  padding: 0;
  list-style: none;
}

.why-us .accordion-list li + li {
  margin-top: 15px;
}

.why-us .accordion-list li {
  padding: 20px;
  background: var(--color-white);
  border-radius: 10px;
  border: 2px solid var(--color-primary-light);
}

.why-us .accordion-list a {
  display: block;
  position: relative;
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
  cursor: pointer;
  color: var(--color-primary-light);
}

.why-us .accordion-list span {
  color: var(--color-primary-light);
  font-weight: 600;
  font-size: 20px;
  padding-right: 10px;
}

.why-us .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.why-us .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.why-us .accordion-list .icon-show {
  display: none;
}

.why-us .accordion-list a.collapsed {
  color: var(--color-primary-light);
}

.why-us .accordion-list a.collapsed:hover {
  color: var(--color-primary);
}

.why-us .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.why-us .accordion-list a.collapsed .icon-close {
  display: none;
}

#why-us .counters {
  padding-top: 40px;
}

#why-us .counters span {
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: var(--color-primary);
}

#why-us .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 14px;
  color: var(--color-primary-light);
}

#why-us .counter:not(:last-child) {
  border-right: 2px solid var(--color-primary-light);
}

#why-us .counter:hover {
  background: var(--color-primary);
  transform: scale(1);
  transition: all 0.5s;
}

#why-us .counter:hover .purecounter {
  color: var(--color-white);
}

@media (max-width: 1024px) {
  .why-us .content,
  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .img {
    min-height: 400px;
  }
  .why-us .content {
    padding-top: 30px;
  }
  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .why-us .content h3 {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .why-us .img {
    min-height: 200px;
  }
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
#skills {
  position: relative;
}

#skills .container{
  z-index: 9999;
}

.skills .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: var(--color-primary-light);
  font-family: inherit;
}

.skills .content ul {
  list-style: none;
  padding: 0;
}

.skills .content ul li {
  padding-bottom: 10px;
}

.skills .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--color-primary-light);
}
.skills .content i {
  color: var(--color-white);
}

.skills .content p:last-child {
  margin-bottom: 0;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: inherit;
  color: var(--color-white);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #e8edf5;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: var(--color-primary-light);
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services {
  position: relative;
  min-height: 50vh;
}

.services .icon-box {
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: var(--color-white);
  border: 3px solid var(--color-primary-light);
  z-index: 9999;
}

.services .icon-box .icon {
  margin-bottom: 10px;
}

.services .icon-box .icon img {
  color: var(--color-primary-light);
  transition: 0.5s ease;
}

.services .icon-box .icon i {
  color: var(--color-primary-light);
  font-size: 45px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: var(--color-primary);
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transform: translateY(-10px) scale(1);
  border: 3px solid var(--color-primary-light);
  background-color: var(--color-primary);
  transition: all ease-in-out 0.5s;
  color: var(--color-white);
}
.services .icon-box:hover p {
  color: var(--color-white);
}

.services .icon-box:hover h4 a {
  color: var(--color-primary-light);
}

.services__content {
  padding: 1rem;
  margin-top: 1.5rem;
}

@media (max-width: 767px) {
  .services__content {
    width: 100%;
    text-align: center;
  }
}
.services__content .icon {
  font-size: 5.5rem;
  color: var(--color-primary-light);
}

.display-3--title {
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  display: block;
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-secondary),
    var(--color-primary-light)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Services_2 Section */
#services_2 {
  position: relative;
  border: none;
}

#services_2 h4:hover {
  transform: scale(1);
  border-bottom: 3px solid var(--color-primary);
  transition: all 0.5s ease-out;
}
#services_2 .container .services__content span i {
  color: var(--color-white);
}
/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
#cta {
  position: relative;
}

.cta {
  background: linear-gradient(var(--color-section-bg), var(--color-section-bg));
  background-size: cover;
  padding: 120px 40px;
}

@media (max-width: 767px) {
  .cta .container {
    width: 100%;
  }
}

.cta .container:hover {
  background: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-light)
  );
  transition: all 0.9s ease-in-out;
}

.cta .container:hover h3 {
  color: var(--color-white);
}

.cta h3 {
  color: var(--color-primary-light);
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: var(--color-primary);
}
.cta .container:hover p {
  color: var(--color-white);
}

.cta .cta-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid var(--color-white);
  color: var(--color-white);
  background: var(--color-green);
}

.cta .cta-btn .bi .bi-whatsapp {
  font-size: 30px;
}

.cta .cta-btn:hover {
  background: var(--color-primary);
  border: 2px solid var(--color-green);
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (max-width: 767px) {
  .cta .row,
  .cta-btn-container,
  .cta-btn {
    text-align: center;
    width: 100%;
  }

  .cta .cta-btn {
    font-weight: 300 !important;
    font-size: 14px !important;
    letter-spacing: 1px;
    display: inline-block;
    padding: 6px 28px !important;
    width: 100% !important;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfolio {
  position: relative;
}

.portfolio .card:hover {
  transform: translateY(-10px);
  transition: all ease-in-out 0.5s;
}

.portfolio .card-title {
  color: var(--color-primary-light) !important;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
#team {
  position: relative;
}
.team .member {
  position: relative;
  padding: 30px;
  background: var(--color-white);
  border: 2px solid var(--color-primary-light);
  transition: 0.9s;
}

.team .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.team .member .pic img {
  transition: ease-in-out 0.3s;
}

.team .member:hover {
  transform: translateY(-10px);
}

.team .member .member-info {
  padding-left: 30px;
  color: var(--color-primary);
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: var(--color-primary-light);
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary-light);
  bottom: 0;
  left: 0;
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: var(--color-primary-light);
}

.team .member .social a i {
  color: var(--color-white);
  font-size: 16px;
  margin: 0 2px;
}

.team .member .social a:hover {
  background: #209dd8;
}

.team .member .social a:hover i {
  color: var(--color-white);
}

.team .member .social a + a {
  margin-left: 8px;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/

#pricing {
  position: relative;
}

.pricing .row {
  padding-top: 40px;
}

.pricing h3 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 25px;
  color: var(--color-primary-light);
  margin-top: 2px;
}

.pricing h3 i {
  font-weight: 700;
  font-size: 40px;
  color: var(--color-primary-light);
  padding-right: 15px;
}

.pricing h4 {
  font-size: 48px;
  color: var(--color-primary);
  font-weight: 700;
  font-family: inherit;
  margin-bottom: 15px;
}

.pricing h4 sup {
  font-size: 28px;
}

.pricing h4 span {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 400;
  display: block;
}

.pricing ul {
  padding: 10px 0;
  list-style: none;
  color: var(--color-primary);
  text-align: left;
  line-height: 10px;
}

.pricing ul li {
  padding: 10px 0 10px 30px;
  position: relative;
}

.pricing ul i {
  color: var(--color-green);
  font-size: 24px;
  text-align: center;
}

.pricing ul .na {
  color: #7c7a7a;
}

.pricing .card {
  border-radius: 40px;
  margin-bottom: 10px;
  border: 2px solid var(--color-primary-light);
}

.pricing .card-middle {
  background-image: linear-gradient(
    to right,
    var(--color-secondary),
    var(--color-secondary),
    var(--color-secondary)
  );
  color: var(--color-primary);
}

.pricing .card-body {
  background-image: url("/assets/img/Illustrations/Background/website\ background\ 003.jpg");
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pricing ul .na i {
  color: #440d0d;
}

.pricing ul .na span {
  text-decoration: line-through;
}

/*--------------------------------------------------------------
# Technology Stack
--------------------------------------------------------------*/

#stack {
  position: relative;
  background: linear-gradient(
    to right,
    var(--color-section-bg),
    var(--color-section-bg),
    var(--color-section-bg)
  );
  padding-top: 100px;
  padding-bottom: 70px;
  text-align: center;
}

#stack .card {
  border: 2px solid var(--color-primary-light);
}

#stack .box ul {
  padding: 20px 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}

#stack .box ul li {
  padding: 10px 10px 10px 30px;
  position: relative;
}

#stack .box ul i {
  color: var(--color-primary-light);
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 6px;
}

#stack .cardheader {
  width: 100%;
  height: 5rem;
  background-color: var(--color-primary-light);
  border-radius: 50px;
}

#stack .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#stack .card ul {
  list-style: none;
  text-align: left;
  line-height: 2;
}
/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
#faq {
  position: relative;
}
.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: var(--color-white);
  border-radius: 4px;
  position: relative;
  border: 2px solid var(--color-primary-light);
  border-radius: 10px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: var(--color-primary-light);
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: var(--color-primary);
  transition: 0.3s;
}

.faq .faq-list a.collapsed:hover {
  color: var(--color-primary-light);
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
  position: relative;
}

.contact .info {
  border: 2px solid var(--color-primary-light);
  padding: 30px;
  background: var(--color-white);
  width: 100%;
  border-radius: 50px;
}

.contact .info iframe {
  border-radius: 30px;
}

.contact .info i {
  font-size: 20px;
  color: var(--color-primary-light);
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--color-primary);
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--color-primary-light);
}

.contact .info .email p a {
  padding-top: 5px;
  color: var(--color-primary-light);
}

.contact .info .email p a:hover {
  transform: scaleY(2);
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid var(--color-secondary);
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: var(--color-white);
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: var(--color-primary-light);
  color: var(--color-white);
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: var(--color-primary-light);
  color: var(--color-white);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  position: relative;
  font-size: 16px;
  background: var(--color-primary);
  color: var(--color-white);
}

#footer .footer-newsletter {
  padding: 50px 0;
  text-align: center;
  font-size: 16px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: var(--color-primary-light);
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: var(--color-white);
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 2px 10px;
  outline: none;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: var(--color-primary-light);
  color: var(--color-white);
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: var(--color-primary);
  border: 2px solid var(--color-primary-light);
}

#footer .footer-newsletter .alert {
  border: 5px solid var(--color-primary-light);
  border-radius: 50px;
  font-size: 1.1rem;
  color: var(--color-green);
  z-index: 999999;
  transition: all .5s ease-in-out;
  position: absolute;
  top: 0px;
  right: 0px;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: var(--color-primary);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
  line-height: 1px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-primary-light);
}

#footer .footer-top .footer-contact p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: inherit;
  color: var(--color-white);
}

#footer .footer-top .footer-contact p a {
  color: var(--color-white);
}
#footer .footer-top .footer-contact p a:hover {
  color: var(--color-primary-light);
  transform: scale(1.9);
  border-bottom: 2px solid var(--color-white);
  transition: all 0.5s ease-in-out;
}

#footer .footer-top h4 {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-primary-light);
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: var(--color-primary-light);
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: var(--color-white);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: var(--color-primary-light);
}

#footer .footer-top .social-links i {
  color: var(--color-white);
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--color-primary-light);
  color: var(--color-white);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #209dd8;
  color: var(--color-white);
  text-decoration: none;
}

#footer .footer-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--color-white);
}

#footer .copyright {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}

#footer .copyright .brand,
.logo {
  color: var(--color-secondary);
}

#footer .copyright .logo {
  color: var(--color-primary-light);
}

#footer .credits {
  font-size: 14px;
}

#footer .credits a,
i {
  transition: all 0.5s ease-in-out;
  color: var(--color-primary-light);
}

#footer .credits i {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-secondary);
}

/* Media Queries Mobile Responsiveness */
@media (max-width: 768px) {
  #footer .footer-newsletter form input[type="submit"] {
    width: 30%;
    transition: 0.3s;
    cursor: pointer;
  }

  #footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #footer .footer-links h4 {
    color: var(--color-primary-light);
    font-weight: 600;
    font-size: 24px;
  }

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}

/* Footer Wave Start */
.footer-waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.footer-waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
  transform: rotateY(180deg);
}

.footer-waves .shape-fill {
  fill: var(--color-white);
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .footer-waves svg {
    width: calc(100% + 1.3px);
    height: 98px;
  }
}

/** For mobile devices **/
@media (max-width: 767px) {
  .footer-waves svg {
    width: calc(100% + 1.3px);
    height: 56px;
  }
}
/* Footer Wave End */

/* MODAL START */

/* Service Modal */
.modal-header {
  background: linear-gradient(
    180deg,
    var(--color-primary),
    var(--color-primary),
    var(--color-primary)
  );
  color: var(--color-primary-light);
  font-family: inherit;
  font-weight: 400;
}

.modal-header .modal-title,
.btn-close {
  font-size: 1.7rem;
  color: var(--color-primary-light);
  font-family: inherit;
  font-weight: 400;
}

/* .mycareer{
 overflow: hidden;
 overflow-wrap: break-word;
 width: 100%;
 display: inline-block;
 white-space: pre-line;
} */

@media (max-width: 768px) {
  .php-email-form button,
  textarea,
  input,
  select,
  select option {
    font-size: 13px;
    width: 100%;
  }


  .email-form button,
  textarea,
  input,
  select,
  select option {
    font-size: 13px;
    width: 100%;
  }

  .modal-header .modal-title,
  .btn-close {
    font-size: 14px;
    color: var(--color-primary-light);
    font-family: inherit;
  }

  .modal-dialog .php-email-form button, input{
    padding: 4px 28px;
    font-size: 13px;
  }

  .modal-dialog #careerForm select, select option{
    padding: 4px 28px;
    font-size: 13px;
  }

  .modal-dialog{
    max-width: 400px;
  }
}
